<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>


<!-- Content Side -->
<div class="content_side" id="accountDet" v-cloak>
    <div class="row m-0">
        <div class="col-md-6 col-12 wrapCard">
            <div class="card transparentCard">
                <h2>
                    Account Details
                </h2>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-column">
            <div class="alert alert-success accnt_sucs_vld" v-if="successDet">
                <strong></strong> {{sccsmsgDet}}
            </div>
            <div class="alert alert-danger accnt_sucs_vld" v-if="errorDet">
                <strong></strong> {{errormsgDet}}
            </div>
        </div>
    <div class="row m-0 acnt_cnt">     
        <div class="col-md-6 col-12 wrapCard">
            <div class="card transparentCard">
                <h4>
                    Personal Details
                </h4>
               
                <form name="account_details" id="account_details">
                    <div class="form-group">
                        <input type="text" class="form-control" v-validate="'required'"
                            v-model="userdet.chnge.firstName" data-vv-scope="acntDetail" name="first_name"
                            placeholder="first name" />
                    </div>
                    <small v-if="errors.has('first_name','acntDetail')&&submit"
                        class='fieldvalidate acct_vld_fn validate-2 mb-2'>Enter first name</small>
                    <div class="form-group">
                        <input type="text" class="form-control" v-validate="'required'" v-model="userdet.chnge.lastName"
                            data-vv-scope="acntDetail" name="last_name" placeholder="last name" />
                    </div>
                    <small v-if="errors.has('last_name','acntDetail')&&submit"
                        class='fieldvalidate acct_vld_ln  validate-2 mb-2'>Enter last name</small>
                    <!-- <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="email address" />
                        </div> -->
                    <div class="form-group">
                        <input type="text" class="form-control"
                            v-validate='{url:{require_protocol: true},required:true }' v-model="userdet.chnge.webUrl"
                            data-vv-scope="acntDetail" name="url" placeholder="website url" />
                    </div>
                    <small v-if="errors.has('url','acntDetail')&&submit"
                        class='fieldvalidate acct_vld_url  validate-2 mb-2'>Enter valid web url</small>
                    <div class="row m-0">
                        <div class="col-md-8 col-sm-7 col-12 p-0">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    v-validate='{ required: true,regex:/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/}'
                                    v-model="userdet.chnge.phone" data-vv-scope="acntDetail" name="phone"
                                    placeholder="phone number" />
                            </div>
                            <small v-if="errors.has('phone','acntDetail')&&submit"
                                class='fieldvalidate acct_vld_phn  validate-2 mb-2'>Enter valid phone number</small>
                        </div>
                        <div class="col-md-4 col-sm-5 col-12 p-0">
                            <button class="btn btn_card" type="button" v-on:click="saveDetailsSubmit()">
                                Save
                            </button>
                        </div>
                    </div>
                 
                    <div class="card transparentCard p-0 chng_em_crd">
                            <form name="account_details" id="account_details">
                                <div class="form-group">
                                    <h4>
                                        Change Email
                                    </h4>
                                    <div class="eml_chng d-flex flex-column">
                                        <div class="alert alert-success" v-if="successEmail">
                                            <strong>Success!</strong> {{sccsmsgEmail}}
                                        </div>
                                        <div class="alert alert-danger" v-if="errorEmail">
                                            <strong></strong> {{errormsgEmail}}
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn_card float-left mb-3" v-on:click="changEmail()">
                                        Change Email
                                    </button>
                                </div>
                                <div v-if="isChangeMail">
                                    <div class="form-group">
                                        <input type="text" class="form-control"v-validate="'required|email'"
                                        v-model="email" name="email" v-model="email" data-vv-scope="emailchange" placeholder="email address" />
                                    </div>
                                    <small v-if="errors.has('email','emailchange')&&submitPSD"
                                    class='fieldvalidate mb-2'>Enter valid email</small>
                                    <div class="row m-0">
                                        <div class="col-md-12 col-sm-12 col-12 p-0">
                                            <button class="btn btn_card" type="button" v-on:click="emailChangeSubmit()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                        <div class="form-group mt-5">
                                <h4>
                                    Change Password
                                </h4>
                                <div class=" d-flex flex-column">
                                    <div class="alert alert-success" v-if="success">
                                        <strong>Success!</strong> {{sccsmsg}}
                                    </div>
                                    <div class="alert alert-danger" v-if="error">
                                        <strong>Danger!</strong> {{errormsg}}
                                    </div>
                                </div>
                                <button type="button" class="btn btn_card float-left mb-3" v-on:click="changPsdShow()">
                                    Change Password
                                </button>
                                <div v-if="changPsd">
                                    <div class="form-group">
                                        <input type="password" class="form-control" v-validate="'required|min:6'"
                                            v-model="psdChange.oldPsd" data-vv-scope="changePsd" name="oldpsd"
                                            placeholder="old password" />
                                    </div>
                                    <small v-if="errors.has('oldpsd','changePsd')&&submitPSD"
                                        class='fieldvalidate validate-2 mb-2'>Enter old password.</small>
                                    <div class="form-group">
                                        <input type="password" class="form-control" v-validate="'required|min:6'"
                                            v-model="psdChange.newPsd" data-vv-scope="changePsd" name="newpsd"
                                            placeholder="new password" ref="password" />
                                    </div>
                                    <small v-if="errors.has('newpsd','changePsd')&&submitPSD"
                                        class='fieldvalidate validate-2 mb-2'>Password must contain minimum 6
                                        characters.</small>
                                    <div class="form-group">
                                        <input type="password" class="form-control" v-validate="'required|confirmed:password'"
                                            v-model="psdChange.confirmNewPsd" data-vv-scope="changePsd" name="confirmNewPsd"
                                            placeholder="confirm new password" />
                                    </div>
                                    <small v-if="errors.has('confirmNewPsd','changePsd')&&submitPSD"
                                        class='fieldvalidate validate-2 mb-2'>Password must match.</small>
                                    <button type="button" class="btn btn_card" v-on:click="psdChangeSubmit()">
                                        Save
                                    </button>
                                </div>
        
                            </div>
            
            
                </form>
            </div>
        </div>
        <div class="col-md-6 col-12 wrapCard">
            <div class="card">
                <h4>
                    Saved Details
                </h4>
                <h3>
                    {{userdet.saved.firstName}} {{userdet.saved.lastName}}
                </h3>
                <h3>
                    {{userdet.saved.email}}
                </h3>
                <h3>
                    {{userdet.saved.webUrl}}
                </h3>
            </div>
           


        </div>
    </div>
</div>
<!-- Content Side -->
</section>

<script>
    var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<script>
    var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<% include ../views/vue.ejs %>
<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/custom.js" type="text/javascript"></script>
<script src="/js/api/account.js" type="text/javascript"></script>
</body>

</html>