<% include ../views/common/style1.ejs %>

<% include ../views/forgotpasshead.ejs %>
  <section class="content" id="forgotPsd"  v-cloak>
    <div class="d-flex flex-column">
        <div class=" d-flex flex-column">
                <div class="alert alert-success" v-if="success">
                    <strong></strong> {{sccsmsg}}
                </div>
                <div class="alert alert-danger" v-if="error">
                    <strong></strong> {{errormsg}}
                </div>
        </div>
        <!-- Content Side -->
        <div class="contentportion" >
            <h2>Forgot Password</h2>
            <div class="form-group">
                <input  v-model="password" type="password" v-validate="'required|min:7'"  name="password"  class="form-control" placeholder="Enter Your Password" ref="password" />
            </div>
            <small v-if="errors.has('password')&&submit" class='fieldvalidate validate-2 mb-2'>Password must contain minimum 7 charactor.</small>
            <div class="form-group">
                <input type="password" v-model="confirmpassword" v-validate="'required|confirmed:password'" name="confirmpassword" class="form-control" placeholder="Confirm Your Password" />
            </div>
            <small v-if="errors.has('confirmpassword')&&submit" class='fieldvalidate validate-2 mb-2'>Password must match.</small>
            <div class="form-group submit">
                <button class="btn btn_card submitbutton" v-on:click="forgtPsdSubmit()">
                    Submit
                </button>
            </div>
        </div>
    </div>
        <!-- Content Side -->
    </section>
    <script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
    </script>
    <% include ../views/footer.ejs %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <script src="/js/validation/veevalidate.js" type="text/javascript"></script>
    <script src="/js/api/changepsd.js" type="text/javascript"></script>
</body>

