<!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/customStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> -->

<!-- <body>
    <!-- Header -->
<!-- <header>
        <div class="row justify-content-between">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                <img src="images/logo.png" class="img-fluid" />
                <button class="btn btn-default navBtn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="col-md-9 col-12">
                <ul class="top_count d-flex m-0 p-0 justify-content-end">
                    <li>
                        <div class="top_image">
                            <img src="images/meet-icon-top.png" class="img-fluid" />
                        </div>

                        <h3>
                            0
                            <small>
                                sustainable meetings
                            </small>
                        </h3>
                    </li>
                    <li>
                        <div class="top_image">
                            <img src="images/tree-icon-top.png" class="img-fluid" />
                        </div>
                        <h3>
                            0
                            <small>
                                trees planted
                            </small>
                        </h3>
                    </li>
                    <li>
                        <div class="top_image">
                            <img src="images/user-icon.png" class="img-fluid" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>  -->
<!-- Header -->

<!-- <section class="frame">
        <!-- Sidebar -->
<!-- <div class="sideBar">
            <ul class="navigation_bar p-0">
                <li>
                    <a href="">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        Invite Users
                    </a>
                </li>
                <li>
                    <a href="">
                        Setup
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        Account Details
                    </a>
                </li>
                <li>
                    <a href="">
                        Logout
                    </a>
                </li>
            </ul>

            <footer>
                <ul class="social_icons d-flex m-0 p-0 justify-content-center">
                    <li>
                        <a href="" class="facebook">

                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <p>
                    &copy; 2019
                    <span>
                        sustainable meeting.
                    </span><br>
                    All rights reserved.

                </p>
            </footer>
        </div>  -->
<!-- Sidebar -->
<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>
<!-- Content Side -->
<section class="initiativecompany">
    <div class="container">
        <h5 class="userlist m-0">Edit Initiative Partner</h5>
        <div class="company">
            <button type="button" class="btn-sm headerbutton info_btn save_btn">Company Info</button>
            <button type="button" class="btn-sm headerbutton userbutton save_btn">User Info</button>
            <div class="companyinfo forms">
                <h4 class="userlist">Company info</h4>
                <h5 class="userlist">This is to show the Company tab content</h5>
                <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                    <label>
                        Initiative(*):
                    </label>
                        </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <select class="form-control">
                                <option>
                                    Sustainable Meeting
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                        <div class="col-lg-4 col-sm-4 col-12 leftlabel" for="uname">
                    <label>Partner Landing Page:</label>
                        </div>
                    <div class=" col-lg-8 col-sm-8 col-12">
                        <div class="form-group link">
                            <a href="#">https://sustainable-meeting.com/?refid=8ZP6H</a>
                            <button class="btn btn-info btn-sm headerbutton mt-1 mb-1 copy_btn">
                                Visit Page
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row ">
                        <div class="col-lg-4 col-sm-4 col-12 leftlabel" for="uname">
                    <label>Your Tree Counter:</label>
                        </div>
                    <div class=" col-lg-8 col-sm-8 col-12">

                        <div class="form-group link">
                            <img src="images/tree-counter.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 leftlabel" for="uname">
                    <label>Use this URL to link to your
                        counter:</label>
                        </div>
                    <div class=" col-lg-8 col-sm-8 col-12">
                        <div class="form-group link">
                            <a href="#">https://sustainable-meeting.com/admin/tickers/ticker_8ZP6H.png</a>
                            <button class="btn btn-info btn-sm headerbutton mt-1 mb-1 copy_btn">
                                Copy URL
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 leftlabel" for="uname">
                                <label>Use this URL to link to your
                                        certificate(Full):</label>
                            </div>
                    <div class=" col-lg-8 col-sm-8 col-12">
                        <div class="form-group link">
                            <a href="#">https://sustainable-meeting.com/admin/cert/full_8ZP6H.png</a>
                            <button class="btn btn-info btn-sm headerbutton mt-1 mb-1 copy_btn">
                                Copy URL
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 leftlabel" for="uname">
                                <label>Use this URL to link to your
                                        certificate(Thumbnail):</label>
                            </div>
                    <div class=" col-lg-8 col-sm-8 col-12">
                        <div class="form-group link">
                            <a href="#">https://sustainable-meeting.com/admin/cert/thumb_8ZP6H.png</a>
                            <button class="btn btn-info btn-sm headerbutton mt-1 mb-1 copy_btn">
                                Copy URL
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>Company Name:</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="The Green Earth Appeal">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>Website:</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="www.greenearthappeal.org">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>Phone:</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>Address(*):</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>City(*):</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                        <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                                <label>Area(*):</label>
                            </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                    <div class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname">
                    <label>Post Code(*):</label>
                </div>
                    <div class=" col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                    <label class="col-lg-4 col-sm-4 col-12 firstcolumn" for="uname"></label>
                    <div class="col-lg-8 col-sm-8 col-12">
                        <button type="button" class="btn-sm headerbutton savebutton">Save</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>


<!-- Content Side -->


<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/custom.js" type="text/javascript"></script>