<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<!-- Content Side -->
<div class="content_side" id="dashboardview" v-cloak>
    <div class="row m-0">
        <div class="col-md-4 col-12 wrapCard">
            <div class="card">
                <h2>
                    Overview
                </h2>

                <div class="valueBox d-flex align-items-center justify-content-between">
                    <div class="top_image d-flex  align-items-center justify-content-center">
                        <img src="../img/meeting-icon.png" class="img-fluid" />
                    </div>

                    <h3 class="text-right">
                        {{meetingCount}}
                        <small>
                            sustainable meetings
                        </small>
                    </h3>
                </div>

                <div class="valueBox d-flex align-items-center justify-content-between">
                    <div class="top_image d-flex  align-items-center justify-content-center">
                        <img src="../img/tree-icon.png" class="img-fluid" />
                    </div>

                    <h3 class="text-right">
                        {{treeplanted}}
                        <small>
                            trees planted
                        </small>
                    </h3>
                </div>

            </div>
        </div>
        <div class="col-md-8 col-12 wrapCard">
            <div class="card">
                <div class="row m-0 justify-content-end">
                    <div class="d-flex align-items-center filterWrap">
                        <label>
                            Scale:
                        </label>
                        <select class="form-control" v-model="chartScale" @change="resetChart()">
                            <option value="monthly">
                                Monthly
                            </option>
                            <option value="yearly">
                                Yearly
                            </option>
                            <option value="weekly">
                                Weekly
                            </option>
                            <option value="daily">
                                Daily
                            </option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center filterWrap">
                        <label>
                            Type:
                        </label>
                        <select class="form-control" v-model="chartType" @change="resetChart()">
                            <option value="meetings">
                                Meetings
                            </option>
                            <option value="treePLanted">
                                Trees Planted
                            </option>
                        </select>
                    </div>

                </div>
                <!-- graph -->  
                <div class="row">
                    <div class="col-12" id="chartBody" width="400" height="300">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12 col-12 wrapCard">
            <div class="card dsh_ftr">
                <h4>
                    Footer Details
                </h4>
                <div v-html="userSetting.footer"></div>

                <a href="/usersetup" id="editfooter" target="_blank">
                    <button class="btn btn_card">
                        Edit Footer
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Content Side -->
</section>
<!-- <script src="js/validation/userevents.js" type="text/javascript"></script>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script> -->
<script>
    var auth_url = '<%= CONFIG.AUTH_URL %>'
    var meetingUrl = '/meetings/count'
    var chartApiUrl = '/chartdata/admin'
</script>
<% include ../views/vue.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="js/api/dashboard.js"></script>
</body>

</html>