<% include ../views/common/style1.ejs %>
<body > 
       
        <!-- Header -->
        <div id="headerVue"  v-cloak>
                <header>
                        <div class="row justify-content-between" >
                            <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                               <a href="/usermeeting" target="_blank">
                                <img src="/images/logo.png" class="img-fluid" /></a>
                                <button class="btn btn-default navBtn">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <div class="col-md-9 col-12  d-flex m-0 p-0 justify-content-end">
                                <ul class="top_count  d-flex m-0 p-0 justify-content-end">
                                    <li>
                                        <div class="top_image">
                                            <img src="/images/meet-icon-top.png" class="img-fluid" />
                                        </div>
                
                                        <h3>
                                                {{ meetingCount}}
                                            <small>
                                                sustainable meetings
                                            </small>
                                        </h3>
                                    </li>
                                    <li>
                                        <div class="top_image">
                                            <img src="/images/tree-icon-top.png" class="img-fluid" />
                                        </div>
                                        <h3>
                                                {{treeplanted}}
                                            <small>
                                                trees planted
                                            </small>
                                        </h3>
                                    </li>
                                    <li>
                                        <div class="top_image">
                                            <img src="/images/user-icon.png" class="img-fluid" />
                                        </div>
                                    </li>
                                </ul>
                
                
                                <div class="mr-3 ml-3 togglebox">
                                <label class="switch toggleswitch d-block">
                                    <input type="checkbox" data-toggle="toggle" id="togBtn" v-on:click="changeTreeCount()" >
                                    <div class="slider round ml-2">
                                        <span class="on">COMPANY</span>
                                        <span class="off">MY</span>
                                    </div>
                                </label>
                                <label class="life">Life changing impact</label>
                             </div>
                            </div>
                        </div>
                    </header> 
                   
                    <% include ../views/listsidebar.ejs %>
             
                    <div class="content_side s_m_content" id="dashboardview">
                       <div class="row Download_sm_button">
                        <button class="btn btn_card s_m_downloadbutton" >
                            Download Sustainable Meeting
                        </button>
                    </div>
                        <div class="overview_portion">
                                <div class="row m-0">
                                        <div class="col-md-4 col-12 wrapCard">
                                            <div class="card">
                                                <h2>
                                                    Overview
                                                </h2>
                        
                                                <div class="valueBox d-flex align-items-center justify-content-between">
                                                    <div class="top_image d-flex  align-items-center justify-content-center">
                                                        <img src="/images/meeting-icon.png" class="img-fluid" />
                                                    </div>
                        
                                                    <h3 class="text-right">
                                                        {{meetingCount}}
                                                        <small>
                                                            sustainable meetings
                                                        </small>
                                                    </h3>
                                                </div>
                        
                                                <div class="valueBox d-flex align-items-center justify-content-between">
                                                    <div class="top_image d-flex  align-items-center justify-content-center">
                                                        <img src="/images/tree-icon.png" class="img-fluid" />
                                                    </div>
                        
                                                    <h3 class="text-right">
                                                        {{treeplanted}}
                                                        <small>
                                                            trees planted
                                                        </small>
                                                    </h3>
                                                </div>
                        
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-12 wrapCard">
                                            <div class="card">
                                                <div class="row m-0 justify-content-end">
                                                    <div class="d-flex align-items-center filterWrap">
                                                        <label>
                                                            Scale:
                                                        </label>
                                                        <select class="form-control">
                                                            <option>
                                                                Monthly
                                                            </option>
                                                            <option>
                                                                Yearly
                                                            </option>
                                                            <option>
                                                                Weekly
                                                            </option>
                                                            <option>
                                                                Dialy
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="d-flex align-items-center filterWrap">
                                                        <label>
                                                            Type:
                                                        </label>
                                                        <select class="form-control">
                                                            <option>
                                                                Meetings
                                                            </option>
                                                            <option>
                                                                Tree Planted
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- Graph Content -->
                                                <!-- Graph Content -->
                                            </div>
                                        </div>
                                    </div>
                          </div>
            
                    </div>
                    <!-- Content Side -->
                </section>
        </div>
      

    <script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
        var meetingUrlHeader ='/meetings/countUser';
       // var meetingUserUrl='/meetings/countUser';
    </script>
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>

<% include ../views/vue.ejs %>


    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <!--script src="/js/api/dashboard.js"></script-->
</body>

</html>