<% include ../views/common/style1.ejs %>

<% include ../views/forgotpasshead.ejs %>

  <section class="content" id="forgotPsd"  v-cloak>
        <!-- Content Side -->
        <div class="d-flex flex-column">
            <div class=" d-flex flex-column">
                <div class="alert alert-success" v-if="success">
                    <strong></strong> {{sccsmsg}}
                </div>
                <div class="alert alert-danger" v-if="error">
                    <strong></strong> {{errormsg}}
                </div>
            </div>
        <div class="contentportion " >
            <h2>Forgot Password</h2>
            <div class="form-group">
                <input type="text" name="email" v-model="email" v-validate="'required|email'" class="form-control" placeholder="Enter Your Email Address" />
            </div>
            <small v-if="errors.has('email')" class='fieldvalidate validate-2'>Enter correct email.</small>
            <div class="form-group submit">
                <button class="btn btn_card submitbutton" v-on:click="forgtPsdSubmit()">
                    Submit
                </button>
            </div>
        </div>
    </div>
        <!-- Content Side -->
    </section>
    <script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
    </script>
    <% include ../views/footer.ejs %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/validation/veevalidate.js" type="text/javascript"></script>
    <script src="js/api/forgotpsd.js" type="text/javascript"></script>
</body>

