<!-- <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../css/customStyle.css" rel="stylesheet" type="text/css" />
</head>-->

<body>

    <header>
        <div class="row justify-content-between" id="headerVue">

            <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                <a href="/userdashboard" id="mainlogo" target="_blank">
                    <img src="/img/logo.png" class="img-fluid" /></a>
               
                    <button class="btn btn-default navBtn" id="usersidebar" >
                    <i class="fa fa-bars"></i>
                </button>
            
            </div>


            <div class="col-md-9 col-12" v-cloak>
                <ul class="top_count d-flex m-0 p-0 justify-content-end">
                    <li>
                        <div class="top_image">
                            <img src="/img/meet-icon-top.png" class="img-fluid" />
                        </div>

                        <h3>
                           {{ meetingCount}}
                            <small>
                                sustainable meetings
                            </small>
                        </h3>
                    </li>
                    <li>
                        <div class="top_image">
                            <img src="/img/tree-icon-top.png" class="img-fluid" />
                        </div>
                        <h3>
                            {{treeplanted}}
                            <small>
                                trees planted
                            </small>
                        </h3>
                    </li>
                    <li>
                        <div class="top_image">
                            <img src="/img/user-icon.png" class="img-fluid" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <script>
            var meetingUrlHeader='/meetings/count'
    </script>

<!-- 
     <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script> 
   -->