<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>

<!-- Content Side -->
<div class="content_side">
    <div class="row m-0">
        <div class="col-md-5 col-12 wrapCard">
            <div class="card transparentCard invt_usr">
                <div class="row m-0 align-items-center justify-content-between mb-5">
                    <h4>
                        Invite Users
                    </h4>
                    <a href="" target="_blank">
                    <a href="/sample-invite-new.csv" class="btn btn-success btn-csv">
                        Download a sample csv
                    </a>
                </div>
                <form name="upload_csv" id="upload_csv">
                    <div class="upld_fv" style="display:none;" id="error-file" class="ml-3">
                            <label class="fieldvalidate mb-2" style="color: #292b2c;">Please select file</label>
                    </div>
                    <div class="form-group">
                        <div class="fileField">
                            <span>
                                Upload your list of team members
                            </span>
                            <button class="btn btn_card btn_csv addcsv" >
                                add CSV
                         
                                <input type="file" id="myfile" />
                            </button>
                        </div>
                    </div>
                            <button id="upload" class="btn btn_card btn_upload">
                               Upload
                            </button>
                      
                
                </form>
                <div style="display:none;" id="success" class="ml-3">
                    <label class="fieldvalidate" style="color:#292b2c;" id="scss">Data upload. duplicate data</label>
                </div>
                <div class="loader">
<div class="loader_in">
    
</div>
                </div>
                <div style="display:none;" id="error" class="ml-3">
                    <label class="fieldvalidate usr_vld" style="color: #292b2c;">User already exists</label>
                </div>
                    <h4 class="addmanually">
                        Add Manually
                    </h4>
                    <form name="add-manually" id="add_manually">
                    <div class="form-group add_mn_vl">
                        <input type="text" class="form-control" name="first_name" placeholder="first name" />
                    </div>
                    <div class="form-group add_mn_vl">
                        <input type="text" class="form-control" name="last_name" placeholder="last name" />
                    </div>
                    <div class="form-group add_mn_vl">
                        <input type="text" class="form-control" name="email" placeholder="email address" />
                    </div>
                    <div class="ml-3">
                        <label id="errors" class="fieldvalidate" style="color: #292b2c; display:none;">
                            User already exists</label>
                        </div>
                        <div class="ml-3" id="successs" style="display:none">
                            <label class="fieldvalidate usr_vld" style="color: #292b2c;">User added sucessfully</label>
                        </div>
                    <div class="form-group">
                        <button class="btn btn_card" type="submit" >
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7 col-12 wrapCard">
            <div class="card transparentCard">
                <h4>
                    Invited Users
                </h4>
                <div class="table-responsive tbWrap" id="userList"  v-cloak>
                    <table class="table ">
                        <thead>
                            <tr class="theader">
                                <th>
                                    ID
                                </th>
                                <th>
                                    User name
                                </th>
                                <th>
                                    User Email
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody >

                            <tr v-for="(object,index) in datas ">
                                <td>
                                    {{object.id}}
                                </td>
                                <td nowrap>
                                    {{object.firstName}}
                                </td>
                                <td nowrap>
                                    {{object.email}}
                                </td>
                                <td nowrap>
                                    <span class="yesBadge" v-if="object.status=='yes'">
                                        Yes
                                    </span>
                                    <span class="yesBadge pend_bdg" v-if="object.status!='yes'">
                                        pending
                                    </span>
                                </td>
                                <td>
                                    <button class="deleteBtn" >
                                        <img src="../img/delete-icon.png" class="img-fluid" data-toggle="modal" data-target="#myModal" v-on:click="deleteUSer(object.id)" />
                                    </button>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal  content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Record</h4>
            </div>
            <div class="modal-body want_to_delete">
              <p class="m-0">Do you want to delete record?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default delete_dlogbox" data-dismiss="modal" v-on:click="deleteApiCall()">Yes</button>
              <button type="button" class="btn btn-default delete_dlogbox" data-dismiss="modal" >No</button>
            </div>
            </div>
      
        </div>
      </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>


<!-- Content Side -->
</section>


<script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<% include ../views/vue.ejs %>
<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="js/validation/validation.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="js/api/invite.js"></script>

</body>