<body>
    <!-- Header -->
    <header>

        <div class="row justify-content-between">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
               <a href="/login" target="_blank">
                <img src="../img/logo.png" class="img-fluid" />
            </a>
            </div>
            <div class="col-md-9 col-12">
                <div class="toplogin">
                    <!-- <button class="btn loginbutton" >
                        Login
                    </button> -->
                    <a href="/" class="btn loginbutton">Login</a>
                </div>
            </div>
        </div>
    </header>

    <section class="content">












            style="display:none;"