<% include ../views/common/style1.ejs %>
<% include ../views/invitationheader.ejs %>




<!-- Content Side -->
<div id="invitation">
    <div class="updateMessage updt_fv"  v-if="success">
        <label class="fieldvalidate">Invitation sent successfully</label>
    </div> 
    
         <div id="error" class="alert alert-danger dngr_msg" v-if="error">
                <label>Invitation already sent</label>
              </div> 
    <div class="contentportion">
        <h2>By Invitation Only</h2>
        <div class="form-group">
            <input type="text" class="form-control" v-validate="'required|email'" v-model="email" data-vv-scope="step1"
                name="email" placeholder="Enter Your Email Address" />
        </div>
       
        <small v-if="errors.has('email','step1')" class="fieldvalidate in_flv">Enter valid email</small>
        <div class="form-group submit mt-5">
            <button class="btn btn_card requestbutton" v-on:click="handleSubmit()">
                Request an Invitation
            </button>
        </div>
    </div>
</div>

<!-- Content Side -->
</section>

<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<% include ../views/footer.ejs %>
<script>
    var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/api/validation.js"></script>
<script src="js/api/invitation.js" type="text/javascript"></script>