<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>
<!-- Content Side -->
<div  class="content_side">
    <div class="container outbox">
        <h4 class="userlist">Invoices History</h4> 
        <% if (enableButton){ %>
        <div id="subscription">
               <% if(subscription && subscription.subscriptionId) { %>
                    Your Subscription ID is <%=subscription.subscriptionId %>
                    <button class="btn btn-danger" onclick="cancel()" value="Cancel">Cancel</button>
                    <!-- <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo"></a></td></tr></table> -->
                    <% } else { %>
                    <div  id="paypal-button-container"></div>
                    <% } %>   
        
        </div>
        <% } %>
        <div id="invoice-app" class="invoice">
            <div class="d-flex justify-content-flex-start pb-4">
                <!-- <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle dropdownbutton" data-toggle="dropdown">
                        Select Paid
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d_item" href="#">YES</a>
                        <a class="dropdown-item d_item" href="#">NO</a>
                    </div>
                </div>
                <button type="button" class="searchbutton btn btn-primary">
                    <i class="fa fa-search searchicon" aria-hidden="true"></i>
                </button>
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle dropdownbutton" data-toggle="dropdown">
                        Select Verified
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d_item" href="#">YES</a>
                        <a class="dropdown-item d_item" href="#">NO</a>
                    </div>
                </div>
                <button type="button" class="searchbutton btn btn-primary">
                    <i class="fa fa-search searchicon" aria-hidden="true"></i>
                </button> -->
                <input v-model="search" class="form-control" placeholder="Filter by invoice number, status...">
            </div>
            <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th v-repeat="column: columns">
                                  <a href="#" v-on="click: sortBy(column)" v-class="active: sortKey == column">
                                    {{ column | capitalize }}
                                  </a>
                                </th>
                              </tr>
                            </thead>
                        
                            <tbody>

                              <tr  v-repeat="invoices | filterBy search | orderBy sortKey reverse">
                                <td>{{ invoiceNumber }}</td>
                                <td>{{ invoiceDate | formatDate }}</td>
                                <td>{{ periodStartDate | formatDate }}  -  {{periodEndDate | formatDate}}</td>
                                <td>{{ numberOfTrees }}</td>
                                <td>{{ amount }}</td>
                                <td>{{ status }}</td>
                              </tr>
                              
                            </tbody>
                          </table>
            </div>
        </div>
    </div>

</div>
<!-- Content Side -->
</section>
<% include ../views/vue.ejs %>
<script>
  var clientId = "<%=clientId%>";
  var planId = "<%=planId%>";
  var subscription = "<%=(subscription && subscription.subscriptionId)%>";
  // alert(planId)
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
<script
src="https://www.paypal.com/sdk/js?client-id=AY5uIzXWo09URWlwHduI62x3MqiItO0kHyhFIJFzGc77h7d9SkosbX5HoGT8Pf9O8m5JAj7Bg4C_pO6N&vault=true">
</script>
<script type="text/javascript" src="/js/api/invoice.js"></script>
