<section class="frame s_m_frame">
        <!-- Sidebar -->
        <div class="sideBar">
            <ul class="navigation_bar p-0">
                               <li>
                    <a href="" class="active">
                       Dashboard
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Logout
                    </a>
                </li>
            </ul>

            <footer>
                <ul class="social_icons d-flex m-0 p-0 justify-content-center">
                    <li>
                        <a href="https://www.facebook.com/Sustainable-Meeting-424836634986716/" class="facebook facebookconnection">

                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sustainmeeting" class="twitter twitterconnection">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/sustainable-meeting/about/" class="linkedin linkedinconnection">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                            <a href="https://www.instagram.com/sustainablemeeting/" class="instagram instagramconnection">
                                <img src="/img/instagram.svg" class="insta">
                            </a>
                        </li>
                </ul>
                <p>
                    &copy; 2019
                    <span><a href="/login" target="_blank" class="s_m_link">
                        sustainable meeting.</a>
                    </span><br>
                    All rights reserved.

                </p>
            </footer>
        </div>
        <!-- Sidebar -->
