<% include ../views/common/style1.ejs %>
<% include ../views/loginhead.ejs %>
<section class="content">
    <!-- Content Side -->
    <div class="contentportion">
        <h2>Login</h2>
        <div id="error" style="display:none;" class="alert alert-danger error_vld lg_vldmsg">
            <label class="sucs_msg adm_lg wrng_vld" style="">wrong username or password</label>
        </div>
        <div class="alert alert-success updateMessage ud_msg lg_vldmsg" id="loginSucc" style="display:none;">
            <label class="sucs_msg wrng_vld">Login successful</label>
        </div>
        <form name="login-form" id="loginform" class="lg_frm">
            <div class="form-group validation">
                <input type="text" class="form-control" name="email" id="username" placeholder="Email Address" />
            </div>
            <div class="form-group validation">
                <input type="password" class="form-control" name="password" id="pass" placeholder="Password" />
            </div>
            <label class="form-check-label remembercheckbox">
                <input type="checkbox" class="form-check-input" value="">
                Remember me
            </label>
            <div class="form-group submit">
                <button class="btn btn_card submitbutton" type="submit" id="btnValidate">
                    Log In
                </button>
            </div>
        </form>
        <a href="/forgotPassword" class="link forgotpassword">Forgot my password</a>
    </div>
    <!-- Content Side -->
</section>
<!--footer-->
<% include ../views/footer.ejs %>

<!--footer-->
<script>
    var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="js/validation/validation.js"></script>
<script src="js/validation/userevent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="js/api/login.js"></script>

</body>