<body>
    <!-- Header -->
    <header>

        <div class="row justify-content-between">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                <a href="/login" id="forgotmainlogo" target="_blank">
                <img src="/img/logo.png" class="img-fluid" /></a>

            </div>
            <div class="col-md-9 col-12">
                <div class="toplogin">
                    <a href="/invitationlUsers" id="Byinvitationonly" target="_blank">
                        <button class="btn loginbutton">
                            By Invitation Only
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--Header -->