<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>

    <style>
        @font-face {
            font-family: "bsHeavy";
            src: url('/fonts/BasicSans/BasicSansHeavySFBold.ttf');
        }

        @font-face {
            font-family: "bsBold";
            src: url('/fonts/BasicSans/BasicSansSFBold.ttf');
        }

        @font-face {
            font-family: "bsRegular";
            src: url('/fonts/BasicSans/BasicSansSFRegular.ttf');
        }

        .page-container {
            width: 533px;
            height: 783px;
            background: url(https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/bg.jpg);
            background-repeat: no-repeat;
            background-size: 576px 823px;
            background-position: 0 0px;
            padding: 20px 20px;
            color: #18662b;
            font-family: Arial, Helvetica, sans-serif;
            border: 2px solid #0fab0e;
        }

        .wrap-container {
            text-align: center;
            float: left;
            width: 100%;
        }

        h2 {
            font-size: 35px;
            line-height: 1.1;
            font-weight: 900;
            letter-spacing: 0;
            margin: 0 0 10px 0;
            color: #18662bf2;
            font-family: "bsHeavy";
        }

        h2 small {
            font-size: 15px;
            letter-spacing: 0;
        }

        h3 {
            font-size: 25px;
            margin: 0 0 10px 0;
            float: left;
            width: 100%;
            font-family: "bsBold";
        }

        p {
            font-size: 13px;
            font-weight: 500;
            margin: 15px 0;
            font-family: "bsRegular";
        }

        .devider {
            width: 100%;
            float: left;
            padding: 10px 0 0 0;
        }

        .wrapDevide {
            width: 48%;
            float: left;
            text-align: center;
            padding: 0 1%;
        }

        h4 {
            font-size: 18px;
            margin: 0;
            color: #20562f;
            line-height: 1.2;
            font-family: "bsBold";
        }

        .markText {
            width: 272px;
            height: 150px;
            position: absolute;
            top: 547px;
            left: 50px;
            color: #067d05;
            border: 1px solid #067d05;
            border-radius: 12px;
            padding: 4px 10px 12px 10px;
            background: white;
        }

        .markText p {
            font-size: 13px;
            margin: 0;
        }

        .logo-Wrap {
            width: 140px;
            position: absolute;
            top: 35px;
            left: 28px;
        }

        .date {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-top: 8px;
        }

        .boldText {
            color: #067d05;
            font-size: 15px;
            font-family: "bsBold";
        }

        .date p {
            font-size: 11px;
            color: black;
            margin-bottom: 3px;
        }

        .name p {
            font-weight: 600;
            font-size: 26px;
        }

        .subheading {
            color: #348834;
            font-size: 15px;
            font-family: "bsRegular";
        }
    </style>
</head>

<body>
    <div class="page-container">

        <div class="wrap-container">
            <div class="logo-Wrap">
                <img src="https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/Logo+v3.png"
                    style="width:100%;" />

            </div>
            <div>
                <h2 class="mainheading">
                    PLANTING<br>CERTIFICATE<br>
                    <small>
                        This certificate is to confirm that
                    </small>
                </h2>
            </div>
            <h3 class="name">
                <%=name.toLowerCase(); %>
            </h3>
            <p class="subheading">
                has planted <%=number_of_tree_planted %>  through the Sustainable Meeting environmental initiative
            </p>
            <p class="boldText">

                By attending a Sustainable Meeting, <%=name.toLowerCase(); %> has both counterbalanced the environmental
                impact
                of the meeting and helped empower the lives of communities across the developing world.

            </p>
        </div>
        <div class="devider">
            <div class="wrapDevide">
                <h4>
                    Counterbalance Meeting
                </h4>
                <p>
                    By planting trees you are effectively counterbalancing CO<sub>2</sub> created by you attending today's meeting.
                </p>
            </div>
            <div class="wrapDevide">
                <h4>
                    Stop Desertification
                </h4>
                <p>
                    Plant a tree on deforested land and the root systems draw water to the surface and regenerate the
                    soil
                </p>
            </div>
        </div>
        <div class="devider">
            <div class="wrapDevide">
                <h4>
                    Provide Food For Underprivileged Children
                </h4>
                <p>
                    By planting fruit trees in Africa, Asia or South America you help provide sustainable sources of
                    food for the communities who plant them
                </p>
            </div>
            <div class="wrapDevide">
                <h4>
                    Education In The Developing World
                </h4>
                <p>
                    Educate farmers and their communities about agroforestry, Which is how to use their farmland
                    efficiently to ensure sustainable maximum yields year after year
                </p>
            </div>
        </div>
        <div class="markText">
            <p>
                Sustainable Meeting wishes to thank <%=name %> for helping reduce Carbon Dioxide
                levels in the atmosphere and for supporting
                poverty eradication in the developing world
            </p>
            <div class="date">
                <img style="width: 120px"
                    src="https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/full_marvin_bakersign.jpg">
                <p><%=certificate_date %>
                </p>
            </div>
            <img style="max-width: 100%"
                src="https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/sign-mark.jpg">

        </div>

    </div>
</body>


</html>