<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/customStyle.css" rel="stylesheet" type="text/css" />

  <!--  <link href="/css/jssocials.css" rel="stylesheet" type="text/css" />     -->
    <!-- <link href="/css/jssocials-theme-classic.css" rel="stylesheet" type="text/css" />   -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Certificate" />
    <meta property="og:description" content="Sample certificate" />
    <meta property="og:image" content="/certificate/download/<%= pdf.certficate_name %>" />
    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:title" content="Certificate">
    <meta name="twitter:description" content="Test certicficate">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@creator_username">
    <meta name="twitter:image"
        content="http://dev-user.ss.emvigotechnologies.com/certificate/download/<%= pdf.certficate_name %>">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                    <a href="/login" id="forgotmainlogo" target="_blank">
                        <img src="/img/logo.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-9 col-12">
                    <div class="toplogin">
                        <a href="/invitationlUsers" target="_blank">
                            <button class="btn loginbutton">
                                By Invitation Only
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Header -->

    <section class="container planting">

        <!-- Content Side -->
        <div class="plantingcertificate">
            <div class="mainheading">
                <h2><%=pdf.name %></h2>
                <h2>Has planted a total <%=pdf.number_of_tree_planted %>  through Sustainable Meeting</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="video">
                        <iframe width="100%" height="304"
                            src="https://mediacdnl3.cincopa.com/v2/1034399/98!UPDFA87zoDAssB/6/GreenEarth_31August2018_1_.mp4.mp4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="certificatepagelinks1 mt-4">
                        <h5>Share your certificate</h5>
                        <div>
                            <div id="shareRoundIcons" data-image="/certificate/download/<%= pdf.certficate_name %>">
                            </div>
                            <ul class="social_icons d-flex m-0 p-0 justify-content-center">
                                <li>
                                    <div class="round round1">
                                        <a href="https://www.facebook.com/Sustainable-Meeting-424836634986716/"
                                            class="facebook linking">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="round round2">
                                        <a href=" https://www.linkedin.com/company/sustainable-meeting/about/"
                                            class="linkedin linking">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="round round3">
                                        <a href="https://twitter.com/sustainmeeting" class="twitter linking">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                              <!--    <li>
                                    <div class="round round4">
                                        <a href=" https://www.instagram.com/sustainablemeeting/"
                                            class="instgrm linking">
                                            <img src="/img/instagram-logo.svg">
                                        </a>
                                    </div>
                                </li>    -->
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-sm-6 col-12">
                    <figure class="certificate">
                        <img src="/certificates/<%= pdf.certficate_name %>">
                    </figure>
                    <div class="clickbtn">
                        <a href="/certificate/download/<%= pdf.certficate_name %>" class="btn clickdownloadbtn">
                            CLICK TO DOWNLOAD
                        </a>
                    </div>
                </div>
            </div>

            <div class="certificatepagelinks2 mt-4">
                <h5>Share your certificate</h5>
                <div>
                  <div id="shareRoundIcons"></div> 
                    <ul class="social_icons scl_icn m-0 p-0 justify-content-center">
                        <li>
                            <div class="round round1">
                                <a href="https://www.facebook.com/Sustainable-Meeting-424836634986716/"
                                    class="facebook linking">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="round round2">
                                <a href=" https://www.linkedin.com/company/sustainable-meeting/about/"
                                    class="linkedin linking">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="round round3">
                                <a href="https://twitter.com/sustainmeeting" class="twitter linking">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </li>
                      <!--  <li>
                            <div class="round round4">
                                <a href=" https://www.instagram.com/sustainablemeeting/" class="instgrm linking">
                                    <img src="/img/instagram-logo.svg">
                                </a>
                            </div>
                        </li>     -->
                    </ul>
                </div>
            </div>

        </div>
        <!-- Content Side -->
    </section>


    <!--footer-->
    <footer class="copyrightsustainable m-0">
        <label>
            Copyright &#169 2019 Sustainable Meeting. All Rights Reserved.
        </label>
    </footer>
    <!--footer-->



    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4641198.js"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <script src="/js/jssocials.min.js" type="text/javascript"></script>
    <script>
        //    jsSocials.shares.instagram = { label: "Visit", logo: "fa fa-instagram", shareUrl: "https://www.instagram.com/someuser/"};
        $("#shareRoundIcons").jsSocials({
            showLabel: false,
            showCount: false,
            shares: ["twitter", "facebook", "linkedin"]
        });
    </script>

</body>

</html>