<% include ../views/common/style1.ejs %>
<% include ../views/index.ejs %>
<% include ../views/sidebar1.ejs %>

<!-- Content Side -->

<div class="content_side container setup" id="setup12"  v-cloak>
    
    <div class="updateMessage"                                                                                                                                                                                                      >
            <label class="alert alert-success updt_sucs up_vd"  id="successs" v-if="success" style="">Data updated successfully</label>
    </div>

    <div>
        <h2>
            Setup
        </h2>
    </div>
    <div class="subheadings">
        <h4>
            Choose when you would like meeting attendees to recieve the email with their tree planting
            certificate from you.
        </h4>
    </div>
    <form class="mb-3" name="pass-time" @submit.prevent="handleSubmit">
        <div class="row m-0 align-items-end">
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <h4>
                    Send Email (Before/After)
                </h4>
                <div class="selectformoutside pr-4">
                    <select class="form-control selectform textareas" name="emailSend" data-vv-scope="step1" v-model="userSetting.emailSend" v-validate="{ required: true }">
                        <option>
                            Before
                        </option>
                        <option>
                            After
                        </option>
                    </select>
                    <small v-if="errors.has('emailSend','step1')" class='fieldvalidate ml-3'>This field is required.</small>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <h4>
                    Hours
                </h4>
                <div class="form-group textareas m-0  pr-4">
                    <input type="number" name="hour"  v-model="userSetting.hour" data-vv-scope="step1"  v-validate="'required'" min="0" max="12" class="form-control" placeholder="0" />
                </div>
                <small v-if="errors.has('hour','step1')" class='fieldvalidate ml-3'>Value must be less than or equal to 12.</small>
            </div>
            
          
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <h4>
                    Minutes
                </h4>
                <div class="form-group textareas m-0  pr-4">
                    <input type="number" name="minute" data-vv-scope="step1" v-model="userSetting.minute" v-validate="{ required: true }" min="1" max="59" class="form-control" placeholder="30" />
                </div>
                <small v-if="errors.has('minute','step1')" class='fieldvalidate ml-3'>Value must be less than or equal to 59.</small>
            </div>
            <h6 v-if="errors.has('minute')" class='fieldvalidate ml-3'>Value must be less than or equal to 59.</h6>
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <button class="btn btn_card float-left" v-on:click="handleSubmitEmailSceduler()" type="button">
                    Save
                </button>
            </div>
        </div>
    </form>
    <div class="subheadings d-flex align-items-center">
        <h4 style="margin: 0;">
            Exclude Internal Meetings
        </h4>
        <label class="switch">
            <input type="checkbox" checked  data-toggle="toggle" id="togBtn" onclick="show()">
            <div class="slider round ml-2"  >
                <span class="on">YES</span>
                <span class="off">NO</span>
            </div>
        </label>
    </div>



    <form class="" name="change-domain">
        <div class="row m-0 align-items-end" id="changedomain">
            <div class="col-sm-5 col-lg-5 p-0">
                <h4>
                    Change domain (eg: test.com)
                </h4>
                <div class="form-group m-0 pr-3 textareas">
                    <input type="text" name="domain_url" v-model="userSetting.domain_url" data-vv-scope="step2" v-validate="{ required: true }" class="form-control" placeholder="" />
                </div>
                <small v-if="errors.has('domain_url','step2')" class='fieldvalidate ml-3'>Please fill out this field.</small>
            </div>
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <button class="btn btn_card float-left" v-on:click="handleSubmiDomain()" type="button">
                    Save
                </button>
            </div>
        </div>
    </form>




    <div class="subheadings">
        <h4>
            Within Outlook, which website would you like users to be taken to when they click "info"?
        </h4>
    </div>
    <!--  -->
    <form class="mb-3" id="url-form" name="url-form">
        <div class="row m-0 align-items-end">
            <div class="col-sm-5 col-lg-5 p-0">
                <h4>
                    Change URL
                </h4>

               
                <div class="form-group m-0 pr-3 textareas">
                    <input type="text" name="info_url" v-model="userSetting.info_url" data-vv-scope="step3" v-validate="{url:{require_protocol: true} }" class="form-control" placeholder="" name="url"/>
                </div>
                <small v-if="errors.has('info_url','step3')" class='fieldvalidate ml-3'>Please enter valid url.</small>
            </div>
            <div class="col-sm-3 col-lg-3 col-12 p-0">
                <button class="btn btn_card float-left" v-on:click="handleSubmiInfoUrl()" type="button" id="setupurlpage" value="Validate">
                    Save
                </button>
            </div>


        </div>
    </form>
    <!--  -->
    <div class="subheadings">
        <h4>
            When you send out a meeting invite, what would you like to display in the users footer?
        </h4>
    </div>
    <div class="form-group m-o">
        <h4>
            Change meeting Invite footer
        </h4>
        <div class="outereditor">
            <div class="editor">

                <form action="" method="POST" enctype="multipart/form-data">
                    <textarea class="ckeditor" id="footerr" name="footer" v-model="userSetting.footer" data-vv-scope="step4" v-validate="{ required: true }" >
              
                        </textarea>
                        <small v-if="errors.has('footer','step4')" class='fieldvalidate ml-3'>Please fill out this field.</small>
                </form>
            </div>
        </div>
        <button  type="button" v-on:click="handleSubmitFooter()" class="btn btn_card float-left">
            Save
        </button>
    </div>
</div>
<!-- Content Side -->
</section>
<script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
</script>
<% include ../views/vue.ejs %>

<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="js/ckeditor/ckeditor.js" type="text/javascript"></script>


<script src="js/api/setup.js" type="text/javascript"></script>
</body>