


    <section class="frame">
        <!-- Sidebar -->
        <div class="sideBar" class="show">
            <ul class="navigation_bar p-0">
                <li >
                    <a id="dashboard" href="/userdashboard"  >
                        Dashboard
                    </a>
                </li>
                <li >
                    <a id="invite" href="/inviteUsers" id="iu"  >
                        Invite Users
                    </a>
                </li>
                <li >
                    <a id="setup" href="/usersetup" id="us" >
                        Setup
                    </a>
                </li>
                <li >
                    <a id="details" href="/accountdetails" id="ad" >
                        Account Details
                    </a>
                </li>
                <li >
                    <a id="invoices" href="/invoicehistory" id="ih" >
                        Invoices History
                    </a>
                </li>
                <li >
                    <button type="button" onclick="logout()" class="lg_out">
                        Logout
                    </button>
                </li>
            </ul>

            <footer>
                <ul class="social_icons d-flex m-0 p-0 justify-content-center">
                    <li>
                        <a href="https://www.facebook.com/Sustainable-Meeting-424836634986716/" class="facebook facebookconnection">

                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sustainmeeting" class="twitter twitterconnection">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href=" https://www.linkedin.com/company/sustainable-meeting/about/" class="linkedin linkedinconnection">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                   <li>
                        <a href="https://www.instagram.com/sustainablemeeting/" class="instagram instagramconnection">
                            <img src="/img/instagram.svg" class="insta">
                        </a>
                    </li>
                </ul>
                <p>
                    &copy; 2019
                    <span><a href="/login" target="_blank" class="sust">
                        sustainable meeting.</a>
                    </span><br>
                    All rights reserved.

                </p>
            </footer>
        </div>
        
        
          
        
        
        
      
        <!-- Sidebar -->

        <!-- Content Side -->
        <!-- <div class="content_side">

        </div> -->
        <!-- Content Side -->
      




    


      <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>  
    <script src="/js/validation/userevent.js" type="text/javascript"></script>  
    