<body> 
       
        <!-- Header -->
        <header>
            <div class="row justify-content-between" id="headerVue">
                <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
                   <a href="/usermeeting" target="_blank">
                    <img src="/images/logo.png" class="img-fluid" /></a>
                    <button class="btn btn-default navBtn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="col-md-9 col-12  d-flex m-0 p-0 justify-content-end">
                    <ul class="top_count  d-flex m-0 p-0 justify-content-end">
                        <li>
                            <div class="top_image">
                                <img src="/images/meet-icon-top.png" class="img-fluid" />
                            </div>
    
                            <h3>
                                    {{ meetingCount}}
                                <small>
                                    sustainable meetings
                                </small>
                            </h3>
                        </li>
                        <li>
                            <div class="top_image">
                                <img src="/images/tree-icon-top.png" class="img-fluid" />
                            </div>
                            <h3>
                                    {{treeplanted}}
                                <small>
                                    trees planted
                                </small>
                            </h3>
                        </li>
                        <li>
                            <div class="top_image">
                                <img src="/images/user-icon.png" class="img-fluid" />
                            </div>
                        </li>
                    </ul>
    
    
                    <div class="mr-3 ml-3 togglebox">
                    <label class="switch toggleswitch d-block">
                        <input type="checkbox" data-toggle="toggle" id="togBtn" onclick="show()">
                        <div class="slider round ml-2">
                            <span class="on">MY</span>
                            <span class="off">COMPANY</span>
                        </div>
                    </label>
                    <label class="life">Life changing impact</label>
                </div>
                </div>
            </div>
        </header> 
        <script>
                var meetingUrlHeader='/meetings/countUser'
        </script>
        <!-- Header -->