
    <% include ../views/common/style1.ejs %>
    <% include ../views/usermeetinglistheader.ejs %>
    <% include ../views/listsidebar.ejs %>
   

        <!-- Content Side -->
        <div class="content_side">
           
            <button class="btn btn_card submitbutton s_m_downloadbutton">
                Download Sustainable Meeting
            </button>
            <div class="table-responsive" id="meetinglist"  v-cloak>
            <table class="table s_m_table">
                <thead>
                  <tr>
                    
                    <th>ID</th>
                    <th>SUBJECT</th>
                    <th>LOCATION</th>
                    <th>TYPE</th>
                    <th>ORGANISER NAME</th>
                    <th>ORGANISER EMAIL</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                   

                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(index,object) in datal " >
                     <td>
                      {{object.id}}
                     </td>
                    <td> {{object.subject}}</td>
                    <td>{{object.location}}</td>
                    <td>{{object.type}}</td>
                    <td>John</td>
                    <td>john@example.com</td>
                    <td>{{object.start_date}}</td>
                    <td>{{object.end_date}}</td> 
                    
                   
               
                   
                                 </tbody>
              </table>
              </div>

        </div>
        <!-- Content Side -->
    </section>



    <script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
    </script>
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
     <script src="/js/api/usermeetinglist.js"></script> 
    
    
