

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/api/header.js"></script>
<script src="/js/api/validation.js"></script>
<script src="/js/api/logout.js"></script>
