@font-face{
  font-family: "regular";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face{
  font-family: "medium";
  src: url("../font/Montserrat-Medium.ttf");
}

[v-cloak] {
  display: none;
}
@font-face{
  font-family: "light";
  src: url("../font/Montserrat-Light.ttf");
}
@font-face{
  font-family: "bold";
  src: url("../font/Montserrat-Bold.ttf");
}
.updt_fv .fieldvalidate {

  position: relative;
  left: -204px!important;
  top: -36px !important;
  padding: 5px;

}
@font-face{
  font-family: "robotoregular";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face{
  font-family: "robotomedium";
  src: url("../font/Roboto-Medium.ttf");
}
@font-face{
  font-family: "robotolight";
  src: url("../font/Roboto-Light.ttf");
}
@font-face{
  font-family: "robotobold";
  src: url("../font/Roboto-Bold.ttf");
}
@font-face{
  font-family: "semibold";
  src: url("../font/Montserrat-SemiBold.ttf");
}
body{
  font-family: "regular";
  font-size: 12px;
}
.navBtn{
  display: none;
}
header{
  padding: 15px;
  box-shadow: 0 3px 5px #f3f3f3;
  background: #fcfbf9;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}

.top_count{
  list-style: none;
}
.top_count li{
  display: flex;
  padding-left: 25px;
}
.top_count li h3 small {
  display: block;
  font-size: 12px;
}
.top_count li h3{
  font-family: "bold";
  text-align: right;
  color: #679266;
}
.top_image{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.frame {
  padding: 40px;
  padding-top: 124px;
  padding-left: 300px;
  min-height: 100vh;
  position: relative;
  background: #f9f8f3;
}
.sideBar {
  width: 260px;
  position: fixed;
  min-height: 100%;
  top: 0;
  left: 0;;
  background: #fcfbf9;
  padding: 10px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 0 5px #00000008;
}
.navigation_bar{
  list-style: none;
  margin: 0;
  margin-top: 30px;
}
.social_icons{
  list-style: none;
}
.social_icons li a{
  width: 30px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
}
.social_icons li a:hover{
  color: #ffffff;
}
.facebook{
  color: rgb(59,89,152);
}
.facebookconnection:hover{
  color: rgb(59,89,152) !important;
}
.twitter{
  color: rgb(29,161,242);
}
.twitterconnection:hover{
  color: rgb(29,161,242) !important;
}
.linkedin{
  color: rgb(0,123,181);
}
.linkedinconnection:hover{
  color: rgb(0,123,181) !important;
}
.google{
  color: rgb(219,68,55);
}
.googleconnection:hover{
  color: rgb(219,68,55);
}
.navigation_bar li a {
  display: block;
  padding: 15px 25px;
  font-size: 13px;
  font-family: semibold;
  color: #679266;
  border-left: solid 5px transparent;
}

.Download_sm_button{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 7px;

}

 .navigation_bar li a:hover{
  background: #92679226;
  color: #926792;
  text-decoration: none;
  border-left: solid 5px #926792;
}
.navigation_bar li a.active{
  background: #eee;
  text-decoration: none;
  border-left: solid 5px #679266;
} 

footer {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  font-family: semibold;
  color: #926792;
  position:absolute;
  bottom:0;
  left:0;
}
footer p span{
  color: #679266;
}
.card{
  box-shadow: 0 0 15px #00000014;
  padding: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fcfbf9;
}
.valueBox{
  padding: 10px 0;
}
.content_side h2 {
  font-size: 42px;
  font-family: bold;
  color: #679266;
  margin-bottom: 20px;
}
.valueBox h3 small{
display: block;
font-size: 12px;
}
.valueBox h3{
  font-family: bold!important;
  color: #679266!important;
  font-size: 2.8em!important;
}
.top_image{
  width: 46px;
}
.top_image img {
  max-width: 60px;
  max-height: 80px;
}
.filterWrap label{
  
  margin: 0;
  margin-right: 15px;
  color: #679266;
}
.filterWrap{
  padding-left: 20px;
}
.filterWrap .form-control{
    height: 30px!important;
    padding: 7px;
    font-size: 12px;
    border-color: #926792;
    color: #679266;
}
.filterWrap .form-control:hover{
  box-shadow: 0 0 7px 0px #89bbde;
}
.wrapCard{
  padding: 5px!important;
}
.logoImg{
  width:200px;
  margin: 10px 0;
}
.btn_card {
  float: right;
    border-radius: 50px;
    color: #fff;
    background: #926792;
    font-size: 12px;
    font-family: semibold;
    padding: 10px 26px;
    min-width: 100px;
}
.btn_card:hover{
  background-color: #679266;
}
.btn_csv:hover{
  background-color: #926792;
}
.content_side h4 {
  font-size: 14px;
  font-family: bold;
  color: #679266;
  margin-bottom: 12px;
}
.card p b{
  font-family: bold;
  color: #2881c7;
}
.card p b a{
  font-size: 14px;
}
.transparentCard{
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 30px 15px;
  padding-top: 0;
  padding-bottom: 0;
}
input.form-control {
  font-size: 13px;
  font-family: semibold;
  color: #333;
  padding: 15px 20px;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #cad6ad;
  padding: 12px 27px;
}
.content_side h3 {
  font-size: 18px;
  font-family: bold;
  color: #679266;
}
.fileField input[type="file"]{
  opacity: 0;
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fileField .btn_card{
  position: relative;
}
.fileField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #926792;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 12px;
}
.fileField span{
  font-family: bold;
  color: #694669;
}
.table{
  border-collapse: separate;
  border-spacing: 0 0.6em;
  color: #679267;
}
.table tr{
  background: #fff;
  box-shadow:  0 0 10px #eaeaea;
  font-size: 12px;
  font-family: robotomedium;
}
.theader{
  background: transparent!important;
  text-transform: uppercase;
  box-shadow: none!important;
  height: 14px;
}
.theader th{
  padding: 0 0.75rem;
  font-family: semibold;
  font-size: 10px;
}
.deleteBtn{
  height: 15px;
  width:15px;
  background: transparent;
  border: none;
  padding: 1px;
}
span.yesBadge {
  padding: 5px 10px;
  background: rgb(59,221,157);
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 3px;
}
.tbWrap{
  max-height: 425px;
  padding-right:20px;
}
.table thead th {
  border: none;
}
.d_item{
  font-size: 12px;
}

/* Employee ID AM-UI-FR-04 */
.para{
  font-size: 13px;
}
.btn_save{
  float: left;
  margin-left: 18px;
}
.toplogin{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.loginbutton{
  margin: 10px;
  background-color: #926792;
  font-size: 14px;
  color: #fff;
}
.loginbutton:hover{
 color: #fff !important;
 background-color: #6e4c6e;
 font-size: 14px;
}
.content{
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f8f3;
}
.contentportion{
  width:450px;
  text-align: center;
  padding:15px;
}
.contentportion h2{
  font-family: bold;
  color: #679266;
}
.submit{
    display: flex;
    justify-content: center;
}
footer{
  width:100%;
  padding:20px;
  margin-top:-58px;
  background: #fff;
  box-shadow: 0 -5px 5px #00000003;
}
footer label{
  margin:0;
  font-size:13px;
  font-size: 13px;
  color: #000000;
}
.remembercheckbox{
  padding-bottom:13px;
  font-weight: 900;
}
.forgotpassword{
  font-family: bold;
  color: #679266;
  font-size: 14px;
}
.forgotpassword:hover{
  color: #679266;
}
.subheadings h4{
  color: #694669;
}
.subheadings{
  padding: 38px 0 20px 0;
}
.switch {
  width: 108px;
  height: 27px;
  position: relative;
  display: inline-block;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eceeef;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #ccbcbc;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  left: -2px;
  border: 6px solid #fff;
  background: linear-gradient(#e8e8e8,#fff);
  box-shadow: 0 2px 6px #0000004a;
  top: -3px;
}
input:checked + .slider {
  background-color: #679266;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(68px);
}
.on
{
  display: none;
}
.on, .off {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 49%;
  left: 63%;
  font-size: 9px;
  font-weight: 600;  
  font-family: Verdana, sans-serif;
}
.on{
  left: 37%;
  color:#fff;
}
.off {
  color: #679266;
}
input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{
  display: none;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.selectform{
  width: 272px;
  max-width: 100%;
  font-family: semibold;
  padding: 8px;
  font-size: 14px;;
  color: #333;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #cad6ad;
}
.textbox .form-control{
  height: 56px;
}
select.selectform{
  height: 44px!important;
  -webkit-appearance: inherit;
  background-image: url(../images/sort-down.svg);
  background-repeat: no-repeat;
  background-position: 92%;
  background-size: 8px;
  padding-left: 27px;
}
.selectdropdown{
  width:249px;
}
.planting{
  min-height:100vh;
  padding-top: 88px;
}
.plantingcertificate{
padding: 30px 0;
}
.plantingcertificate h2{
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
.plantingcertificate h5{
  text-align: center;
  color: #208a1e;
  font-weight: 800;
}
.clickbtn{
  text-align: center;
}
.clickdownloadbtn{
  margin: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #2a872a;
}
.clickdownloadbtn:active{
  background-color: #337ab7;
  color: #fff;
}
.clickdownloadbtn:visited{
  background-color: #337ab7;
}
.clickdownloadbtn:hover{
  color: #fff !important;
}
.mainheading{
  padding-bottom:40px;
}
.round{
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 8px;
}
.social_icons .round{
  width:40px !important;
  height:40px !important;
}
.round1{
  background-color:#3742a9;
}
.round2{
  background-color:#2a6fd0;
}
.round3{
  background-color:#4ebeef
}
.round4{
  background-color:#6f6ade;
  }
  .contentportion .validation{
    text-align: left;
    position: relative;
  }
  .updateMessage{
    position: absolute;
    width: 100%;
    top: 34px;
    max-width: 832px;
    z-index: 1;
  }
  .updateMessage .fieldvalidate{
    color: #035003;
    width: 100%;
    position: initial;
    border-radius: 0;
    padding: 15px 15px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #c6eab7;
    background: #cfe0c8;
  }

  .setup .fieldvalidate {
    left: 4px;
    margin-left: 0rem !important;
    top: 76px !important;
    position: absolute;
    padding: 5px 5px;
}
.invt_usr .fieldvalidate {
  top: 135px;
}
.updateMessage .fieldvalidate {
  top: -3px;
}
  .loginvalidate {
    color: #000000;
    margin: 0;
    font-size: 12px;
    border-radius: 13px;
    padding: 5px 10px;
    margin-top: 9px;
    background: #e2dbbe;
    position: relative;
    margin-left: 14px;
}
.loginvalidate:after{
  content: '';
  /* width: 0; */
  /* height: 0; */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #dff0d8;
  top: -5px;
  left: 5px;
  position: absolute;
}
.fieldvalidate{
  color: #000000;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  border-radius: 13px;
  padding: 5px 10px;
  background: #dff0d8;
}
.add_mn_vl{
  position: relative;
}
.usr_vld{
  left: 17px;
  top: 379px;
}
.validate-2 {
  position: initial;
  display: block;
  text-align: left;
  width: fit-content;
}
.addmanually {
  margin-top: 56px;
}
.insta{
  width:14px;
  height:11px;
}
.instagram {
  padding-top: 4px!important;
}
.btn_upload{
  padding: 10px;
  margin-top: 10px;
}
.csvbutton{
  padding: 10px;
}
.dropdownbutton{
  color: #736e6e;
  font-size: 14px;
}
.searchbutton{
  margin:0 10px;
  height: 36px;
}
.addcsv{
  padding:10px;
  margin-right: -2px;
}
.smallround{
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  -webkit-transition: .4s;
  transition: .4s;
  left: -1px;
  border:2px solid #e4dfdf;
  border-radius:50%;
  background-color:#f3eeee;
}
input:checked + .slider .smallround {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(75px);
}
.outereditor{
  width:750px;
}
.editor{
  width:100%;
}
.copyrightsustainable{
 position: inherit;
}
.instgrm img{
  width:20px;
}
.linking{
  width: 40px!important;
  height: 40px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px!important;
  color:#fff;
}
.sust{
  color: #679266;
}
.sust:hover{
  color: #679266;
 text-decoration:none;
}
.delete_dlogbox{
  background-color: #694669;
  color:#fff;
  font-size: 13px;
  float: right;
    border-radius: 50px;
    color: #fff;
    background: #926792;
    font-size: 12px;
    font-family: semibold;
    padding: 11px 30px;
    min-width: 100px;
}
.delete_dlogbox:hover{
  background-color: #679266;
}
.modal-header{
direction: rtl;
}
.modal-header h4{
  margin: auto;
}
.want_to_delete{
  font-weight: 900;
  font-size: 15px;
}
.wrong_username{
  color:#292b2c;
  margin: 0;
  font-size: 12px;
  border-radius: 13px;
  padding: 5px 10px;
  margin-top: 9px;
  background: #e2dbbe;
  position: relative;
  margin-left: 14px;
  margin-bottom: 4px;
}
.certificatepagelinks2{
  display: none;
}
.s_m_table{
  margin-top:35px;
}
.life{
font-size: 12px;
color: #679267;
font-family: "bold";
margin:0;
line-height: 1.1;
}
.s_m_downloadbutton{
background-image: url(../images/outlook.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 18px;
  padding-left: 44px;
}
.s_m_downloadbutton:hover{
background-color: #679267;
background-image: url(../images/outlook.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 18px;
  padding-left: 44px;
}
.my{
font-size: 10px;
color: #fff;
}
.company{
font-size: 10px;
color: #679267;
}
.s_m_table td{
 color:#000000;
}
.my {
left: 37%;
}
.company{
left: 64%;
}
.company {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 0;
}
.company .savebutton {
  margin-bottom: 4px;
}
.company .savebutton {
  margin-bottom: 4px;
}
.company .userbutton {
  color: #3b863b;
}
.companyinfo {
  border: 1px solid #e6e6ea;
  padding: 20px;
}
.companyinfo .userlist {
  text-align: center;
}
.companyinfo h4 {
  border: none;
  font-size: 19px;
}
.companyinfo h5 {
  font-size: 14px;
}
.savebutton {
  float: right;
  border-radius: 50px;
  color: #fff;
  background: #926792;
  font-size: 12px;
  font-family: semibold;
  padding: 12px 23px;
  min-width: 100px;
  border: none;
}
.companyinfo h5 {
  margin-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 8px;
  padding-top: 2px;
}
.userlist {
  margin-bottom: 15px;
  padding-bottom: 8px;
  padding-top: 2px;
}
.save_btn{
  border: none;
  margin-bottom: 6px;
}
.company{
  color:#000000;
}
.companyinfo label{
  font-size: 12px;
  text-align: right;
}
.companyinfo .form-control{
  font-size: 12px;
}
.companyinfo .link{
  font-size: 12px;
}
.companyinfo .link a{
  color: #679266;
}
.firstcolumn{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.leftlabel{
  display:flex;
  justify-content: flex-end;
  align-items: baseline;
}
.info_btn{
  background-color:#08c;
  color:#fff;
}
.copy_btn:hover{
  background-color:#2f96b4;
}
.companyinfo .link a:hover{
  color:#2f96b4;
}
.toggleswitch{
  width: 98px;
  height: 23px;
}
.toggleswitch .slider:before {
  height: 24px;
  width: 24px;
  top: -2px;
}
.toggleswitch input:checked + .slider:before {
  transform: translateX(61px);
}
.dropdown-menu {
min-width: 0;
width:100%;
}
.s_m_link{
  color: #679266;
}
.s_m_link:hover{
  color: #679266;
  text-decoration: none;
}
label.error {
  position: absolute;
  bottom: -39px;
  left: 10px;
  z-index: 99;
}
.textareas{
  position: relative;
}
.pend_bdg{
  background: #ffa500 !important;
}
.sucs_msg{
  width: 418px !important;
    position: relative !important;
    top: 0;
    left: 0;
    text-align: left;
    margin:0;
}
.ud_msg{
  position:inherit;
}
.fld_vld{
  background: #dff0d8;
}
.dsh_ftr img{
    width:100%!important;
  }
  .certificate img{
    width:100%;
  }


  .jssocials-shares {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
  .jssocials-share {
    width:40px !important;
    height:40px !important;
    border-radius: 50px !important;
    margin: 0 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
.jssocials-share-facebook{
  background-color: #3742a9!important;
  font-size: 21px!important;
}
.jssocials-share-twitter{
  background-color: #4ebeef!important;
  font-size: 21px!important;
  order:2 !important;
}
.jssocials-share-linkedin{
  background-color: #2a6fd0!important;
  font-size: 21px!important;
}
.jssocials-share-link{
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.jssocials-share-link:hover{
  text-decoration: none;
}
.jssocials-share-logo{
  color: #fff!important;
}
.plantingcertificate .social_icons{
  display: none !important;
}
.upld_fv{
position: absolute;
    top: 49px;
    left: 25px;
}
.acct_vld_fn{
  position: absolute;
    top: 60px;
}
.acct_vld_ln{
  position: absolute;
  top: 120px;
}
.acct_vld_url{
  position: absolute;
  top: 183px;
}
.acct_vld_phn{
  position: absolute;
  top: 38px;
}
.in_flv{
  position: absolute;
  left: 494px;
  top: 343px;
}

.updt_fv .fieldvalidate {
  position: relative !important;
  top: -34px !important;
  left: 9px!important;
  width: 433px !important;
  padding: 9px !important;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.setup_un{
  position: absolute;
  top: 356px;
}
.setup_pw{
position: absolute;
    top: 416px;
}
.lg_out{
  display: block;
  padding: 15px 30px;
  font-size: 13px;
  font-family: semibold;
  color: #679266;
  border-left: solid 5px transparent;
  border: none;
  background-color: #fff;
}
.dngr_msg{
  text-align: center;
  position: absolute;
  top: 191px;
  left: 488px;
    width: 411px;
}
.dngr_msg label{
font-size: 15px;
font-weight: 500;
}
#subscription{
  position: absolute;
  right: 15px;
  top: -2px;
}
.updt_sucs{
  top: 36px;
  left: 1px;
}
.lg_out {
  background-color: #fcfbf9;
}
.lg_out:hover{
  width: 100%;
  background: #92679226;
  color: #926792;
  text-decoration: none;
  border-left: solid 5px #926792;
  text-align: left;
  padding: 15px 25px;
}
.lg_frm {
  padding-top: 62px;
}
.lg_vldmsg{
  width: 420px;
  position: absolute;
  top: 175px;
}
.lg_out:focus {
  outline: none;
}
.up_vd{
  width:100%;
}
.accnt_sucs_vld{
  position: absolute;
    width: 75%;
    top: 157px; 
  }
    .acnt_cnt{
      padding-top: 21px;
    }
    .eml_chng{
      position: relative;
    top: 40px
    }
    .eml_chng .alert{
      width: 466px;
      position: absolute;
    }
    .chng_em_crd{
      padding-top: 72px;
    }
/* Employee ID AM-UI-FR-04 */

@media(max-width:1440px){
  input.form-control {
    font-size: 13px;
}
.content_side h3 {
  font-size: 16px;
}
.content_side h2 {
  font-size: 26px;
}
}
@media(max-width:1280px){
  .btn-csv{
    font-size: 14px;
  }
.frame {
  padding: 20px;
  padding-top: 104px;
  padding-left: 220px;
}
.sideBar {
  width: 200px;
}
.navigation_bar li a {
  padding: 10px 15px;
}
footer {
  padding: 20px 0;
  font-size: 10px;
}
}
@media (max-width: 1024px){
input.form-control {
    padding: 12px 15px;
    font-size: 12px;
}
.fileField {
  padding-left: 15px;
}
.btn_card {
  padding: 9px 15px;
  min-width: 85px;
}
.fileField span {
  font-family: semibold;
  color: #694669;
  font-size: 10px;
}
.valueBox h3 small {
  display: block;
  font-size: 12px;
}
.top_image img {
  max-width: 40px;
  max-height: 50px;
}
.content_side h2 {
  font-size: 22px;
}
.card {
  padding: 20px;
}
.transparentCard {
  padding: 20px 5px;
}
.content_side h2 {
  margin: 0;
}
input.form-control {
  padding: 8px 12px;
  font-size: 12px;
}
.selectform {
  width: 223px;
}
.selectform{
    font-size: 12px;
    height: 35px;
}
.switch {
  width: 100px;
  height: 25px;
}
input:checked + .slider:before {
  transform: translateX(58px);
}
.slider:before {
  height: 28px;
  width: 28px;
}
.outereditor {
  width: 668px;
}
.s_m_downloadbutton{
  padding-left: 44px;
}
.s_m_table {
  margin-top: 16px;
}
}
@media (max-width: 970px){
.selectform {
  width: 205px;
}
select.form-control {
  height: 49px!important;
}
.textbox .form-control {
  height: 49px;
}
.plantingcertificate h2 {
  font-size: 22px;
}
.mainheading {
  padding-bottom: 30px;
}
.dropdownbutton{
  font-size: 12px;
}
.searchbutton{
  width: 40px!important;
  height: 33px;
  padding: 0!important;
}
.outereditor {
  width: 510px;
}
.toggleswitch {
  width: 94px;
  height: 22px;
}
}
@media (max-width: 800px){
.content_side h3 {
  font-size: 14px;
}
.btn_card {
  padding: 10px;
  min-width: 67px;
  font-size: 10px;
}
.filterWrap label {
  width: 60px;
  margin: 0;
  font-size: 12px;
}
.filterWrap {
  padding-left: 10px;
}
.filterWrap .form-control {
  height: 22px!important;
  padding: 0 7px;
  font-size: 12px;
  border-color: #926792;
}
.logoImg {
  width: 100px;
  margin: 10px 0;
}
.setup{
  font-size: 13px;
}
.selectform {
  width: 144px;
}
.s_m_downloadbutton {
  padding-left: 43px;
  background-size: 20px;
}
.s_m_tablecontent{
padding-top: 125px;
}
}
@media (max-width: 768px){
.s_m_tablecontent{
  padding-top: 124px;
}
}
@media (max-width: 767px){
  .navBtn{
    display: block;
    width: 35px;
    padding: 0.5rem;
  }
  .navBtn:hover{
    background: #679266;
  }
  .navBtn:hover i{
    color: #fff;
  }
.top_count {
  display: none!important;
}
.sideBar {
  width: 260px;
  left:-270px;
  z-index: 1;
  transition: all ease-in-out .4s;
}
.sideBar.show{
  left:0px!important;
} 
.frame {
  padding: 20px;
  padding-top: 104px;
  padding-left: 20px;
}
.btn_card {
  min-width: 90px;
}
select.form-control {
  height: 40px!important;
}
.textbox .form-control {
  height: 40px;
}
.planting {
  padding-top: 138px;
}
.plantingcertificate h2 {
  font-size: 20px;
}
.switch {
  width: 100px;
  height: 25px;
}
input:checked + .slider:before {
  transform: translateX(58px);
}
.slider:before {
  height: 28px;
  width: 28px;
}
.social_icons li a {
  width: 35px;
  height: 35px;
  font-size: 22px;
}
.s_m_tablecontent {
  padding-top: 105px;
}
.togglebox {
  position: absolute;
  right: 7px;
  top: -39px;
}
.life {
  position: relative;
  right: 135px;
  top: -27px;
}
.toggleswitch .slider:before {
  height: 25px;
  width: 25px;
  top: -1px;
}
.toggleswitch {
  height: 25px;
}
}
@media (max-width: 575px){
.textareas{
  padding-bottom:9px;
}
.selectform {
  width: 100%;
}
.selectformoutside{
  margin-bottom: 9px;
}
.slider:before {
  height: 29px;
  width: 29px;
}
input:checked + .slider:before {
  transform: translateX(60px);
}
.plantingcertificate h2 {
  font-size: 19px;
}
.switch {
  width: 98px;
  height: 24px;
}
input:checked + .slider:before {
  transform: translateX(57px);
}
.slider:before {
  height: 27px;
  width: 27px;
}
.certificatepagelinks1{
  display: none;
}
.certificatepagelinks2{
  display: block;
}
.outereditor {
  width: 473px;
}
.firstcolumn {
  justify-content: baseline;
}
.toggleswitch .slider:before {
  height: 24px;
  width: 24px;
}

.plantingcertificate .social_icons{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
}
@media (max-width: 535px){
  .outereditor {
    width: 415px;
}
}
@media (max-width: 480px){
.filterWrap {
  flex-direction: column;
  align-items: flex-start!important;
}
.content_side h3 {
  font-size: 12px;
}
.slider:before {
  height: 29px;
  width: 30px;
}
.switch {
  width: 88px;
  height: 28px;
}
input:checked + .slider:before {
  transform: translateX(53px);
}
.setup{
  font-size: 12px;
}
.plantingcertificate h2 {
  font-size: 18px;
}
.outereditor {
  width: 319px;
}
.togglebox {
  position: relative;
  right: -50px;
  top: 7px;
}
.s_m_tablecontent {
  padding-top: 137px;
}
.toggleswitch .switch {
  width: 95px;
  height: 24px;
}
.toggleswitch{
  width: 95px;
    height: 24px;
}
.s_m_frame {
  padding-top: 154px;
}
}
@media(max-width:360px){
  footer{
    margin-top:-76px;
    background: #fcfbf9;
  }
  .toplogin{
  display: flex;
    justify-content: center;
}
.contentportion {
  width: 313px;
}
.slider:before {
  height: 28px;
  width: 29px;
}
.switch {
  width: 93px;
  height: 23px;
}
input:checked + .slider:before {
  transform: translateX(55px);
}
.slider:before {
  height: 26px;
  width: 26px
}
.plantingcertificate h2 {
  font-size: 16px;
}
.social_icons li a {
  width: 33px;
  height: 33px;
  font-size: 20px;
}
.searchbutton {
  margin: 0 6px;
}
.frame {
  padding-left: 0px;
  padding-right: 0px;
}
.outereditor {
  width: 292px;
}
.s_m_content{
  padding:10px;
}
.s_m_tablecontent {
  padding-top: 143px;
}
.s_m_frame {
padding-left: 10px;
    padding-right: 10px;
}
}
@media(max-width:320px){
  .dropdownbutton{
    padding: 8px 8px;
    }
}



.loader{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #ffffff6b;
  z-index: 11;
}
.loader_in{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


