<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>
    <style>
        .page-container {
            width: 533px;
            height: 760px;
            background: url(https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/Output.jpg);
            background-repeat: no-repeat;
            background-size: 570px 836px;
            background-position: 0 0px;
            padding: 20px 20px;
            color: #18662b;
            font-family: Arial, Helvetica, sans-serif;
        }

        .wrap-container {
            text-align: center;
            float: left;
            width: 100%;
        }

        h2 {
            font-size: 26px;
            line-height: 1.1;
            font-weight: 900;
            letter-spacing: -4px;
            margin: 0 0 10px 0;
        }

        h2 small {
            font-weight: 900;
            font-size: 16px;
            letter-spacing: -1px;
        }

        h3 {
            font-size: 16px;
            margin: 0 0 10px 0;
            float: left;
            width: 100%;
        }

        p {
            font-size: 10px;
            font-weight: 500;
            margin: 15px 0;
        }

        .devider {
            width: 100%;
            float: left;
            padding: 10px 0 0 0;
        }

        .wrapDevide {
            width: 48%;
            float: left;
            text-align: center;
            padding: 0 1%;
        }

        h4 {
            font-size: 18px;
            margin: 0;
            font-weight: bolder;
            color: #20562f;
            line-height: 1.2;
        }

        .markText {
            width: 295px;
            height: 150px;
            position: absolute;
            top: 547px;
            left: 50px;
            color: #067d05;
        }

        .markText p {
            font-size: 10px;
        }

        .logo-Wrap {
            width: 140px;
            position: absolute;
            top: 40px;
            left: 40px;
        }

        .date {
            width: 300px;
            height: 150px;
            position: absolute;
            top: 649px;
            right: 100px;
        }

        .boldText {
            color: #067d05;
            font-weight: 700;
            font-size: 12px;
        }

        .date p {
            font-size: 10px;
            color: black;
        }

        .name {
            font-weight: 600;
            font-size: 24px;
        }

        .subheading {
            color: #348834;
            font-weight: 500;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="page-container">

        <div class="wrap-container">
            <div class="logo-Wrap">
                <img src="https://sustainable-meeting.s3-eu-west-1.amazonaws.com/pdfImages/logo.png"
                    style="width:100%;" />

            </div>
            <div class="mainheading">
            <h2>
                PLANTING<br>CERTIFICATE<br>
                <small>
                    This certificate is to confirm that
                </small>
            </h2>
            </div>
            <h3 class="name">
               <%=name.toLowerCase(); %>
            </h3>
            <p class="subheading">
                has planted <%=number_of_tree_planted %> trees through the Sustainable Meeting environmental initiative
            </p>
            <p class="boldText">

                By attending a Sustainable Meeting, <%=name %> has both counterbalanced the environmental impact
                of the meeting and helped empower the lives of communities across the developing world.

            </p>
        </div>
        <div class="devider">
            <div class="wrapDevide">
                <h4>
                    Counterbalance Meeting
                </h4>
                <p>
                    By planting trees you are effectively counterbalancing CO2 created by you attending today's meeting.
                </p>
            </div>
            <div class="wrapDevide">
                <h4>
                    Stop Desertification
                </h4>
                <p>
                    Plant a tree on deforested land and the root systems draw water to the surface and regenerate the
                    soil
                </p>
            </div>
        </div>
        <div class="devider">
            <div class="wrapDevide">
                <h4>
                    Provide Food For Underprivileged Children
                </h4>
                <p>
                    By planting fruit trees in Africa, Asia or South America you help provide sustainable sources of
                    food for the communities who plant them
                </p>
            </div>
            <div class="wrapDevide">
                <h4>
                    Education In The Developing World
                </h4>
                <p>
                    Educate farmers and their communities about agroforestry, Which is how to use their farmland
                    efficiently to ensure sustainable maximum yields year after year
                </p>
            </div>
        </div>
        <div class="markText">
            <p>
                Sustainable Meeting wishes to thank <%=name %> for helping reduce Carbon Dioxide
                levels in the atmosphere and for supporting
                poverty eradication in the developing world
            </p>
        </div>
        <div class="date">
            <p><%=certificate_date %></p>
        </div>
    </div>
</body>

</html>