<head>
    <title>Sustainable Meetings-Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="all" >
    <link href="/css/style.css" rel="stylesheet" media="all" >
    <link href="/css/responsive.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142230768-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
  
          gtag('config', 'UA-142230768-1');
      </script> 
  </head>