<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title> Nest and Castle </title>
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
            <img editable="true" />
            <style>			
                * {
                    margin:0;
                    padding:0;
                }
                * {
                    font-family: 'Oxygen', sans-serif;
                }
                img {
                    max-width:100%;
                }
                .collapse {
                    padding-right:15px;
                    padding:0;
                }
                body {
                    -webkit-font-smoothing:antialiased;
                    -webkit-text-size-adjust:none;
                    width:100%!important;
                    height: 100%;
                    font-family: 'Oxygen', sans-serif !important;
                }
                /* ------------------------------------- 		ELEMENTS ------------------------------------- */
                a {
                    color:#aaaaaa;
                    font-size:12px;
                }
                .bt {
                    padding-top:10px;
                    width: 40%;
                    margin-right: 18px;
                }
                .float-left {
                    float: left;
                }
                p.callout {
                    padding:9px;
                    font-size:12px;
                }
                p.text {
                    padding-left:5px;
                    font-size:16px;
                }
                p.left {
                    padding:5px;
                    font-size:12px;
                    text-align:left;
                }

                .callout a {
                    font-weight:bold;
                    color: #aaaaaa;
                }
                button {
                    font-size: 20px;
                    color: #fff;
                    border: none;
                    outline: none;
                    background-color: #ff6200;
                    padding: 11px 0px;
                    width: 300px;
                    margin: 10px 0;
                    font-family: 'Oxygen', sans-serif !important;
                    font-weight: 600;
                    cursor: pointer;
                }

                /* ------------------------------------- 		HEADER ------------------------------------- */
                table.head-wrap {
                    width:100%;
                }
                .header.container table td.logo {
                    padding:15px;
                }
                .header.container table td.label {
                    padding:15px;
                    padding-left: 0px;
                }

                .footer.container table td{
                    padding:15px;
                }
                .footer.container table td.label {
                    padding:15px;
                    padding-left: 0px;
                }
                .footer span {
                    margin: 5px 5px;

                }

                .footer span  a {
                    padding: 0;
                    margin: 0;
                    text-decoration: none;

                }
                table.body-wrap {
                    width: 100%;
                }
                h1,h2,h3,h4,h5,h6 {
                    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                    line-height:1.1;
                    margin-bottom:5px;
                    color:#000;
                }
                h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
                    font-size:60%;
                    color:#6f6f6f;
                    line-height:0;
                    text-transform:none;
                }
                h1 {
                    font-weight:200;
                    font-size:18px;
                    padding:20px;
                    letter-spacing:3px;
                    font-weight:300;
                }
                h2 {
                    font-weight:200;
                    font-size:37px;
                }
                h3 {
                    font-weight:bold;
                    font-size:27px;
                }
                h4 {
                    font-weight:bold;
                    font-size: 19px;
                    line-height: 29px;
                    color: #000;
                    font-family: 'Oxygen', sans-serif;
                }
                h5 {
                    font-size:16px;
                    color:#464545;
                    line-height: 21px;
                    text-transform: capitalize;
                    font-weight: normal;
                }
                h6 {
                    font-size: 17px;
                    color: #484848;
                    font-weight: normal;
                    font-family: 'Oxygen', sans-serif;
                }
                .collapse {
                    margin:0!important;
                }
                p,ul {
                    margin-bottom:2px;
                    font-weight:normal;
                    font-size:11px;
                    line-height:1.6;
                }
                p.lead {
                    font-size:13px;
                }
                p.last {
                    margin-bottom:0px;
                }
                ul li {
                    margin-left:5px;
                    list-style-position: inside;
                }
                span {
                    color: #ff8f68;
                    font-weight: bold;
                }
                .wrap-p10 {
                    padding-top: 30!important;
                }
                .fnt {
                    font-size: 20px;
                }
                .emailer-ul {
                    width: 100%;
                    float: left;
                }
                .emailer-ul li {
                    color: #ff8f68;
                    font-size: 18px;
                    width: 100%;
                }
                .emailer-ul li span {
                    font-size: 15px;
                    width: 100%;
                }
                .emailer-ul li p {
                    padding-left: 46px;
                    font-size: 14px;
                }
                p.time {
                    padding-left:32px;
                    font-size: 13px;
                    line-height: 25px;
                }
                /* --------------------------------------------------- 		RESPONSIVENESS		Nuke it from orbit. ------------------------------------------------------ */
                /* Set a max-width,and make it display as block so it will automatically stretch to that width,but will also shrink down on a phone or something */
                .container {
                    display:block!important;
                    max-width:900px!important;
                    margin:0 auto!important;
                    /* makes it centered */
                    clear:both!important;
                }
                /* This should also be a block element,so that it will fill 100% of the .container */
                .content {
                    padding:5px;
                    max-width:900px;
                    margin:0 auto;
                    display: block;
                }

                /* Let's make sure tables in the content area are 100% wide */
                .content table {
                    width: 100%;
                }
                /* Odds and ends */
                .column {
                    width: 250px;
                    float: left;
                    margin: 0 20px;
                    border-right: 1px solid #ccc;
                }

                .br-0 {
                    border-right: none !important;

                }
                .column tr td {
                    padding:5px;
                }
                .column-wrap {
                    padding:10px 0 40px 0;
                    margin:0 auto;
                    max-width:900px!important;
                }
                .column table {
                    width:100%;
                }
                .social .column {
                    width:280px;
                    min-width:279px;
                    float:left;
                }
                .column3 {
                    width:300px;
                    float:left;
                }
                .column3 tr td {
                    padding:1px;
                }
                .column3-wrap {
                    padding:0!important;
                    margin:0 auto;
                    max-width:900px!important;
                }
                .column3 table {
                    width:100%;
                }
                .column2 {
                    width:240px;
                    float:left;
                }
                .column2 tr td {
                    padding:5px;
                }
                .column2-wrap {
                    padding:0!important;
                    margin:0 auto;
                    max-width:900px!important;
                }
                .column2 table {
                    width:100%;
                }
                .social-wrap {
                    padding:0!important;
                    margin:0 auto;
                    max-width:900px!important;
                }
                /* Be sure to place a .clear element after each set of columns,just to be safe */
                .clear {
                    display:block;
                    clear: both;
                }
                /* ------------------------------------------- 		PHONE		For clients that support media queries.		Nothing fancy. -------------------------------------------- */
                @media only screen and (max-width:900px) {
                    a[class="btn"] {
                        display:block!important;
                        margin-bottom:10px!important;
                        background-image:none!important;
                        margin-right:0!important;
                    }
                    div[class="column"] {
                        width:auto!important;
                        float:none!important;
                        border-right: 0;
                        padding-bottom: 10px;
                    }
                    div[class="column2"] {
                        width:auto!important;
                        float:none!important;
                    }
                    div[class="column3"] {
                        width:auto!important;
                        float:none!important;

                    }
                    table[class="top"] {
                        width:auto!important;
                        float:none!important;
                    }
                }
            </style>
    </head>
    <body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width:100%!important; height: 100%; font-family: 'Oxygen', sans-serif !important;">
        <table class="body-wrap " style="width: 100%; padding-top: 30px; background: white;">
            <tr>
                <td class="header container" style="display:block!important; max-width:900px!important; margin:0 auto!important; clear:both!important;">
                    <div class="content" style="padding:5px; max-width:900px; margin:0 auto; display: block;">
                        <table bgcolor="#FFFFFF" class="" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td align="center" width="30" style="border-bottom: 1px solid #a5a5a5; padding-bottom: 10px;">
                                        <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/logo-email.png" style="width: 200px;" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td> 
            </tr>
            <tr>
                <td class="container" bgcolor="#FFFFFF" style="display:block!important; max-width:900px!important; margin:0 auto!important; clear:both!important;">
                    <!-- content -->

                    <!-- COLUMN WRAP -->
                    <div class="column-wrap" style="padding:10px 0 40px 0; margin:0 auto; max-width:900px!important; padding-top:10px;" align="center">
                        <h3 style="font-family:'Helvetica Neue','Helvetica','Arial','Lucida Grande','sans-serif';line-height:1.1; margin-bottom:5px;color: #ff6200"> <b>Hello  </b> </h3>
                       <h5 style="    font-size: 16px;color: #464545;line-height: 21px;text-transform: capitalize; margin:0;
												font-weight: normal;">Need  to  reset  your  password?     <br/> 
												   We've  received  a  request  to  reset  your  password.  If  you  didn't  make  this  request,  please  ignore  this  email.  Your  password  won't  be  changed. 
												</h5>
                        <h4 style="font-weight:bold;font-size: 19px;line-height: 29px;color: #000;font-family: 'Oxygen', sans-serif;margin-top: 30px;">Reset Your Password</h4>
                        <div style="font-size: 20px;color: #fff;border: none;outline: none;background-color: #ff6200;padding: 11px 0px;width: 300px;margin: 10px 0;font-family: 'Oxygen', sans-serif !important;font-weight: 600;cursor: pointer;"><a href="<%= link %>" style="font-size: 20px;color: #fff;font-family: 'Oxygen', sans-serif !important;font-weight: 600;text-decoration: none;">Click Here to an action </a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="container" bgcolor="#FFFFFF" style="display:block!important; max-width:900px!important; margin:0 auto!important; clear:both!important;">
                    <div class="social-wrap" style="padding:0!important; margin: 20px 85px; max-width:900px!important;padding-top:10px;" align="left">
                        <div class="column" style="width: 200px; float: left; margin: 0 20px; border-right: 1px solid #ccc;">
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;"> Please visit at us</h6>
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;text-decoration: none;"><b>www.nestandcastle.com</b></h6>
                        </div>
                        <div class="column" style="width: 200px; float: left; margin: 0 20px; border-right: 1px solid #ccc;">
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;"> Call us any time</h6>
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;text-decoration: none;"><b>1(888)410 NEST 6378</b></h6>
                        </div>
                        <div class="column br-0" style="border-right: none !important; width: 200px; float: left; margin: 0 20px; border-right: 1px solid #ccc;">
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;"> Drop us a line</h6>
                            <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;text-decoration: none;"><b>hello@nestandcastle.com</b></h6>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="body-wrap " style="width: 100%; padding-top: 30px; background: white;">
                <td class="footer container" style="display:block!important; max-width:900px!important; margin:0 auto!important; clear:both!important;">
                    <div class="content" style="padding:5px; max-width:900px; margin:0 auto; display: block;">
                        <table bgcolor="#FFFFFF" class="" style="width: 100%;">
                            <tr>
                                <td align="center">
                                    <h6 style="font-size: 17px;color: #484848;font-weight: normal;font-family: 'Oxygen', sans-serif;padding-bottom: 10px">Connect with us</h6>
                                    <span> <a href="https://www.facebook.com/nestandcastle/"> <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/social-icons/facebook.png"> </a></span>
                                    <span> <a href="https://plus.google.com/104861217320137694258"> <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/social-icons/google-plus.png"> </a></span>
                                    <span> <a href="https://www.linkedin.com/company/nest-castle-inc/"> <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/social-icons/linkedin.png"> </a></span>
                                    <span> <a href="https://twitter.com/nestandcastle1"> <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/social-icons/twitter.png"> </a></span>
                                    <span> <a href="https://www.pinterest.com/nest_castle/"> <img src="https://nestandcastle-cdn.s3.ca-central-1.amazonaws.com/social-icons/pinterest.png"> </a></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td> 
            </tr>
        </table>
    </body>
</html>