<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<link rel="stylesheet"  href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>

<body>

    <style>
    @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }
  body {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  }
        @font-face {
            font-family: "Bold";
            src: url('fonts/GlacialIndifference-Bold.otf');
        }

        @font-face {
            font-family: "Regular";
            src: url('fonts/GlacialIndifference-Regular.otf');
        }
         @media(max-width:767px){
            table{
                max-width:100%;
            }
            td{
                display:block;
                margin: 0!important;
            }
             h2{
                border-right: none!important;
                padding: 0!important;
                margin: 0!important;
            }
            button{
                margin: 0 auto;
                display: inherit;
             }
        }
    </style>
    <table style="margin: 0 auto; width:100%; max-width: 700px;">
    <tr>

            <td colspan="3" style="background-image: url('https://cdn.nestandcastle.com/emailer/pattern.png');text-align: center;padding:30px;">
                <img src="https://cdn.nestandcastle.com/emailer/logo.png" style="width: 200px;" />
                </td>
        </tr> 
        <tr>
            <td colspan="3" style="background-color: #616161;text-align: center;padding:10px;">     
              
                <a href="https://www.instagram.com/nestandcastle/" target="_blank" style="text-decoration: none;">
                    <img src="https://cdn.nestandcastle.com/emailer/instagramn.png" style="width:30px;margin: 0 10px;">
                </a>
                <a href="https://www.facebook.com/nestandcastle/" style="text-decoration: none; color:#aaaaaa; font-size:12px; padding: 0; margin: 0;"> 
                    <img src="https://cdn.nestandcastle.com/emailer/facebookn.png" style="width:30px;margin: 0 10px;"> 
                </a>
                <a href="https://www.linkedin.com/company/nest-castle-inc/" style="text-decoration: none; color:#aaaaaa; font-size:12px; padding: 0; margin: 0;"> 
                    <img src="https://cdn.nestandcastle.com/emailer/linkedinn.png" style="width:30px;margin: 0 10px;"> 
                </a>
                <a href="https://twitter.com/nestandcastle1"style="text-decoration: none; color:#aaaaaa; font-size:12px; padding: 0; margin: 0;"> 
                    <img src="https://cdn.nestandcastle.com/emailer/twittern.png" style="width:30px;margin: 0 10px;"> 
                </a>
                <a href="https://www.youtube.com/channel/UCJ3eRuPrDVcwXirW-4YDTpQ/featured?disable_polymer=1"style="text-decoration: none; color:#aaaaaa; font-size:12px; padding: 0; margin: 0;"> 
                    <img src="https://cdn.nestandcastle.com/emailer/youtuben.png" style="width:30px;margin: 0 10px;"> 
                </a>
            </td>
        </tr> 

        <tr>
            <td colspan="3" style="padding: 30px;">
                <h2 style="color:#BA9535;font-size:20px; text-align: center;">
                Registration Confirmation
                </h2>
                <p style="color:#000; font-size:14px;line-height:1.5;">
                    Hello <%= data %><br>
                    Thank you for registering with Nest & Castle. <br>
                    Your account gives you access to many features on our platform. We encourage you to explore all these
                    features on our website, but we’ve outlined a few below for your reference:
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #eee; color:#333; font-size:14px;line-height:1.5; padding:40px;margin:30px 0;border-radius:15px;">

                <ul style="list-style-type: decimal; padding-left: 7px;">
                    <li>
                    Access to industry leading market statistics and neighbourhood demographics.
                    </li>
                    <li>
                    Streamline your search for the perfect home by saving your custom search criteria, setting up
                    auto alerts for new properties that match your results, and sharing properties with your
                    personalized notes with your loved ones.
                    </li>
                    <li>
                    First access to the latest information on new developments, including floorplans, pricing, and
                    other valuable information.
                    </li>
                    <li>
                    Platinum access to the latest development launches, including the best incentives and pricing.
                    </li>

                </ul>


            </td>
        </tr>



        <tr>
            <td colspan="3" style="padding: 30px;border-bottom:solid 1px #ccc;">
                <p style="color:#000; font-size:14px;line-height:1.5;">
                Welcome to the Nest & Castle family! We are confident you’ll love it here and encourage you to start
                exploring today.<br>
                    Sincerely,<br>
                    The Nest & Castle Team:
                </p>
                    <a href="<%= link %>" class="btn" style="padding: 12px 20px;background: #333;color: #fff;font-family: 'Regular';border-radius: 5px;border: none;text-decoration:none;">Click here to access your account</a>
               
                <p style="color:#777; font-size:14px;line-height:1.5; margin-top: 40px;">                       
                     This email is automatically generated. Please do not reply.<br>
                        Suites are allocated on a first come first served basis. Prices are subject to change.

                </p>
            </td>
        </tr>


        <tr>
            <td style="padding:10px 0">
                <h2 style="color:#BA9535; font-size:16px;line-height:1.5; display:block; text-align: center;border-right:solid 1px #ccc;padding:10px 0">
                    Visit Us
                    <small style="color:#333; font-size:16px;display:block;">
                        www.nestandcastle.com
                    </small>
                </h2>
            </td>
            <td style="padding:10px 0">
                <h2 style="color:#BA9535; font-size:16px;line-height:1.5; display:block; text-align: center;border-right:solid 1px #ccc;padding:10px 0">
                    Call us anytime on
                    <small style="color:#333; font-size:16px;display:block;">
                        1 (888) 410 NEST 6378

                    </small>
                </h2>
            </td>
            <td style="padding:10px 0">
                <h2 style="color:#BA9535; font-size:16px;line-height:1.5; display:block; text-align: center;">
                    Drop us a line at
                    <small style="color:#333; font-size:16px;display:block;">
                        info@nestandcastle.com
                    </small>
                </h2>
            </td>
        </tr>

    </table>


</body>

</html>