<html>
        <body contenteditable="true" class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders" spellcheck="false"><p>Hi&nbsp;<%= email %>&nbsp;</p>
            <p>Thank you for your recent enquiry requesting an invitation to join&nbsp;Sustainable Meeting.&nbsp;&nbsp;</p><p>Joining Sustainable Meeting is a smart, effective yet simple way to enhance your Corporate Sustainability needs.&nbsp; It sets a differentiator from other companies and you will not only be meeting your Corporate values by offsetting the negative environmental impact of your meetings, but you will also be helping to provide income, education and food to some of the planet’s poorest communities.&nbsp;</p>
            <p><span style="font-family:arial,sans-serif; font-size:10pt">We will be in touch with you very soon&nbsp;</span></p><p>
                <span style="font-family:arial,sans-serif; font-size:10pt">Kind Regards</span>
            </p>
        </body>
</html>